@import '../../colors.scss';

header {
    font-family: Roboto;
    font-weight: 200;
    display:flex;
    justify-content: space-around;
    color: white;
    background-color: $darkest;
    
    a {
        all:unset;

        cursor: pointer;
        padding: 20px;
    }
    a:hover{
        background-color: $mostaza;
        color: black;
        letter-spacing: 0.1em;
        transition: all 0.3s;
    }
}